/*importa la hoja de estilo via css ext*/
@import url(https://fonts.googleapis.com/css?family=Raleway:400,200,700); 
/*font-family: 'Raleway', sans-serif;*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
/* font-family: 'Open Sans', sans-serif; */

h1 h2 h3 {
    font-family: 'Raleway', sans-serif;

}
body {
    font-family: 'Open Sans', sans-serif;
}


.my-header {
    width: 80%;
    margin-left: 10%;

}
.my-header .header-logo {
   
}

/*---------------Menu----------------*/
.menu-wrapper {
	margin-left: 80%;
    display: inline-block;
}
.menu-wrapper .menu-list {
	list-style: none;
}
.menu-wrapper .menu-list .menu-item {
    margin-right: 20px;
	display: inline-block;
}
/***Only Header****/
.my-header .menu-wrapper .menu-list .menu-item a{
    color: black;
	text-decoration: none;
}

/***Only Footer****/
.my-footer .menu-wrapper .menu-list .menu-item a{
    text-decoration: none;
    color:white;
}


/*---------------Main----------------*/
.main-wrapper {
    width: 80%;
    margin-left: 10%;
}

/**Banner-Index (Main)***/
.banner .banner-img {
    width: 100%;
    height: 600px;
    background-image:  url(../img/indexbanner-bg3.jpg);
    background-attachment: scroll;
    background-position:-250px 0px; 
}

/**Banner-Contact (Main)***/
.main-wrapper .banner-contact .banner-contact-img {
    width: 100%;
    height: 600px;
    background-image:  url(../img/indexbanner-bg2.jpg);
    background-attachment: scroll;
    background-position:-250px 0px; 
}

/**Search (Main)***/
.main-wrapper .search {
	height: 100px;
    text-align: center;
    padding: 15px 32px;
}
.main-wrapper .search .search-form .search-btn {
    background-color: #00aef3;
    border: none;
    color: white;
    font-size: 16px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    height: 98px;
}
.main-wrapper .search .search-form input[type=text] {  
    border:solid 1px #BFBDBD;
    color: #979797;
    height: 98px;
    padding-left:10px;
    width: 90%;
}

/**Services (Main)***/
.services {
    text-align: center;
}

.services .service-item {
    padding: 2px 2px;
    display: inline-block;
    margin-right: 20px;
}

.services .service-item h2 {
    text-transform: uppercase;
}


/*****Product (Main)*****/
.product {
    text-align: center;
}

.product .product-title {
    text-align: center;
}

.product .product-title h1 {
    text-transform: uppercase;
}

.product .product-detail {
    display: inline-block;
}

.product .product-img {
    display: inline-block;
}

.product .product-img img {
    content: url(../img/iphone2.png);
}


/******Prices (Main)*******/
.pricings {
    text-align: center;
}

.pricings .pricing-title-wraper {
    background-image: url(../img/pricing-bg.jpg);
    background-repeat: no-repeat;
    background-position: -340px 0px;
    height: 550px;
}

.pricings .combo-wraper {
	border: 1px solid violet;	
	margin-right: 20px;
    display: inline-block;
}

.pricings .combo-wraper .combo-btn{
    background-color: #00aef3;
    border: none;
    color: white;
    font-size: 16px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
}

.pricings .combo-wraper h2 {
    text-transform: uppercase;
}

.pricings .combo-wraper p {}


/******Advertising (Main)*******/
.advertising {
	height: 100px;
    text-align: center;
    background-color: #142e3f;
    color: white;
}
.advertising span{
    color: #00b2f5;
}

/*---------------Footer----------------*/
.my-footer {
    width: 80%;
    margin-left: 10%;
    background-color: #091722;
    color: white;
}

/* --------- Contact-Form (Main)-------- */
.main-wrapper .contact-form-wrapper {
    text-align: center;
}

.main-wrapper .contact-form-wrapper .form-header{
    border: 2px solid red;
}

.main-wrapper .contact-form-wrapper .form-content-col1{
    border: 2px solid blue;
    display: inline-block;
}

.main-wrapper .contact-form-wrapper .form-content-col2{
    border: 2px solid green;    
    display: inline-block;
}